.home {
    width: 100%;
    position: relative;
  }
  
  .hero {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/home/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    margin-top: -93px;
    max-width: 100%;
  
    .herotxt1 {
      align-items: center;
      display: flex;
      height: 80px;
      justify-content: center;
      margin-top: 69px;
      max-width: 232px;
      width: 100%;
  
      h1 {
        color: white;
        font-family: Proxima-Condensed;
        font-size: 60px;
      }
    }
  
    .herotxt2 {
      align-items: center;
      display: flex;
      font-family: GillSans;
      font-size: 20px;
      height: 50px;
      justify-content: center;
      max-width: 714px;
      width: 100%;
  
      p {
        color: white;
      }
    }
  
    .readmore {
      background-color: #79addc;
      border: none;
      color: white;
      font: large GillSans;
      height: 40px;
      width: 120px;
    }
  }
    .promo-trips {
        max-width: 820px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -30px;
        
          h1 {
            font-size: 60px;
            margin-top: 20px;
          }
      
          p {
            font-size: 30px;
          }
      
          .learnmore {
            width: 133px;
            height: 40px;
            background-color: #79addc;
            border: none;
            color: white;
            font-family: GillSans;
            font-size: 15px;
          }
      
            
      
        .israel {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/home/tour-01.jpg);
          width: 236px;
          height: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-repeat: no-repeat;
          background-position: center;
          color: white;
          font-family: Proxima-Condensed;
        }
      
        .usa {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/home/tour-02.jpg);
          width: 236px;
          height: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-repeat: no-repeat;
          background-position: center;
          color: white;
          font-family: Proxima-Condensed;
        }
      
        .australia {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/home/tour-03.jpg);
          width: 236px;
          height: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-repeat: no-repeat;
          background-position: center;
          color: white;
          font-family: Proxima-Condensed;
        }
    }
     
    .booking {
        max-width: 820px;
        width: 100%;
        margin: 0 auto;
        height: fit-content;
      
        h1, h2 {
          color: black;
        }
      
        h1 {
          font-family: Proxima-Condensed;
          font-size: 60px;
        }
      
        h2 {
          font-family: GillSans;
          font-size: 18px;
        }
      
        .form {
          width: 820px;
          height: fit-content;
      
          input {
            height: 58px;
          }
      
          .textInputs1 {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 10px;
      
            input {
              max-width: 410px;
              width: 100%;
            }
          }
          .textInputs2 {
            display: block;
            margin-bottom: 10px;
            input {
              width: 100%;
            }
          }
          .textInputs4 {
            display: block;
            margin-bottom: 10px;
            input {
              width: 100%;
              height: 200px;
            }
          }
      
          .textInputs3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
      
            input {
              width: 103px;
            }
          }
      
          .submitbtn {
            .submit {
              width: 100%;
              height: 58px;
              margin-top: 10px;
              margin-bottom: 20px;
              background-color: #79addc;
              border-radius: 20px;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-family: Proxima-Condensed;
              font-size: 18px;
            }
          }
        }
      }
@media only screen and (max-width:860px) {
        .home{
            margin: 0 auto;
            width: auto;
            height: auto;
        }

        .promo-trips {
            margin: 0;
            flex-direction: column;
            .israel {
                margin-bottom: 20px;
            }
            .usa {
                margin-bottom: 20px;
            }
            .australia {
                margin-bottom: 20px;
            }
        }
        .booking {
            .form {
                .textInputs1{
                    flex-direction: column;
                    
                }
                .textInputs2{
                    flex-direction: column;
                  width: 50%;
                }
                .textInputs3{
                    flex-direction: column;
                    input {
                        width: 100px;
                    }
                }
                .textInputs4{
                    flex-direction: column;
                    width: 100px;
                }
                .submit {
                    width:  100px;
                }
            }
        }
    }
